<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ul class="list-inline text-center">          
          {% if site.twitter_username %}
          <li class="list-inline-item my-2">
            <a href="https://twitter.com/{{ site.twitter_username }}"
            target="_blank" rel="noopener noreferrer">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li class="list-inline-item my-2">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"
            target="_blank" rel="noopener noreferrer">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item my-2">
            <a href="https://github.com/{{ site.github_username }}"
            target="_blank" rel="noopener noreferrer">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.instagram_username %}
          <li class="list-inline-item my-2">
            <a href="https://instagram.com/{{ site.instagram_username }}"
            target="_blank" rel="noopener noreferrer">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted">Made with &hearts;<br>Copyright &copy; 2013-2020 Start Bootstrap LLC</p>
      </div>
    </div>
  </div>
</footer>
